# Visual Studio 2022
.vs/

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/

# Xcode
.xcodeproj/
.xcworkspace/

# VS Code
.vscode/
*.code-workspace

# Gradle
.gradle/

# Rust
target/

# System
.DS_Store
Thumbs.db

# ExFrameWork Local Tools
Tools/MCP/

# Local User Config
Config/User/
